<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda comercial</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
   <div>
       <h2>Registro de Productos</h2>
   </div>
       <form id="Alumno" action="/guardar" method="POST">
       <div>
           <h4>Datos del Producto</h4>
       </div>
       <div class="grupo"><input name="RFC" type="text" id="RFC" placeholder="RFC del usuario" required></div>
       <div class="grupo"><input name="CURP" type="text" id="CURP" placeholder="CURP del usuario" required></div>
       <div class="grupo"><input name="NOMBRE" type="text" id="NOMBRE" placeholder="NOMBRE del usuario" required></div>
       <div class="grupo"><input name="CONTRASENA" type="text" id="CONTRASENA" placeholder="CONTRASENA del usuario" required></div>

        <div class="grupo"></div>
       <input type="submit" value="Agregar" id="guardar">
       </form>
<br><br>

</body>
</html>