<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGREGAR USUARIO</title>
    <link rel="stylesheet" href="/estilos.css"> 
</head>
<body>
    <div class="reg">
        <div>
            <h2>Registro de Usuarios</h2> <!--Título-->
        </div>
            <form id="Alumno" action="/guardar" method="POST"> 
            <div>
                <h4>Datos del Usuario</h4>
            </div>
            <div class="grupo"><input name="RFC" type="text" id="RFC" placeholder="RFC del usuario" required></div> <!--Agregar RFC-->
            <br><div class="grupo"><input name="CURP" type="text" id="CURP" placeholder="CURP del usuario" required></div> <!--Agregar CURP-->
            <br><div class="grupo"><input name="NOMBRE" type="text" id="NOMBRE" placeholder="NOMBRE del usuario" required></div><!--Agregar Nombre-->
            <br><div class="grupo"><input name="CONTRASENA" type="text" id="CONTRASENA" placeholder="CONTRASENA del usuario" required></div><!--Agregar Contraseña-->
     
             <div class="grupo"></div>
            <br><input type="submit" value="Agregar" id="guardar"> <!-- Botón para guardar datos del usuario-->
            </form>
    </div>
   
<br><br>

</body>
</html>