*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background:rgb(164, 200, 231);
    padding: 80px 80px;
}

h1{ /*titulo*/

    font-size: 22px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.boton{ /*clase boton (agregar,eliminar,editar) */
    width: 100%;
    background: 1px solid rgb(71, 143, 150);
    border: 1px solid rgb(146, 216, 225);
    background-color:rgb(104, 224, 234);
    padding: 8px;
    color: rgb(0, 0, 0);
    margin: 10px 5px;
    font-size: 16px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 5px 8px rgb(122, 122, 167);
}

table{ /*tabla*/
    margin: auto;
    background: rgb(104, 224, 234);
    width: 900px;
    border-radius: 5px;
    padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    border: 1px solid rgb(104, 224, 234);
    font-size: 16px;
    position: relative;
    top: 10px;
    box-shadow: 1px 1px 10px rgb(255, 253, 253);
}


#eliminar,#editar{
    width: 20px;
    height: 20px;
    background:rgb(47, 144, 182);
    border: 1px solid rgb(176, 209, 240) ;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
 }


#eliminar:hover,#editar:hover
{
    cursor: pointer;
    background-color: rgb(21, 146, 168);
}

#eliminar:active,#editar:hover
{
    box-shadow: inset 1px 1px 1px;
}


#agregar:hover{
    cursor: pointer;
    background-color: rgb(21, 146, 168);
}

.reg{
    margin: auto;
    background: rgb(104, 224, 234);
    border-radius: 50px;
    width: 600px;
    height: 250px;
    padding: 20px;
    box-shadow: 10px 10px 5px rgb(59, 118, 156);
}