
body{
    background:rgb(164, 200, 231); /*color de fondo de toda la página*/
    
}

div.contenedor{ /* Contenedor de espacio*/
    width: 300px;
    height: 150px;
    margin: 30px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 70px;
    text-align: center;
}

img{ /* Imágen de validación de usuario*/
    height: 100px;/* Largo y archo*/
    width: 100px;
    display: block;  /* Alinea los elementos por líneas*/
    
    margin-left: 50px; /*márgen a la izquierda */
    
}

div.principal{ /*Cuadro principal para modificar*/
    height: 250px;
    padding: 10px 50px ;
    border-radius: 30px;
    float: center;
    margin-top: 5px;
    background: rgb(104, 224, 234);
}